<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <style>
        label {
            font-size: 1.25rem;
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="{% static 'HL Logo.svg' %}" class="img-fluid" alt="Logo">
        <h1 class="text-center mt-5">Iniciar sesión</h1>
    </div>
    <div class="container">
        <form method="POST" class="mt-5">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Ingrese su nombre de usuario</label>
                <input type="text" class="form-control form-control-lg" id="username" name="username" placeholder="Username" required>
            </div>
            <div class="form-group">
                <label for="password">Ingrese su contraseña</label>
                <input type="password" class="form-control form-control-lg" id="password" name="password" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Iniciar sesión</button>
            {{error}}
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
